<a href="https://colab.research.google.com/github/younghw4n/deeplearning/blob/master/1%EC%A3%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. Python Basic 01
Google Colab을 사용합니다. 

#### 실습목표
1. 데이터 타입을 알고 있다. - 숫자, 문자, boolean
2. 제어문을 사용할 수 있고, 제어문이 사용된 소스코드를 이해할 수 있다. 
3. 리스트(List)를 이해하고, 리스트가 사용된 소스코드를 이해할 수 있다. 리스트를 사용할 수 있다.
5. 함수(Function)가 무엇인지 알고, 함수가 사용된 소스코드를 이해할 수 있다. 간단한 함수를 작성할 수 있다.

## Google Colba 단축키
* Cell 실행: Control + Enter
* Cell 실행 + 다음셀 이동: Shift + Enter
* Code Completion: Tab
* Tooltip 보기: Shift + Tab
* 셀 생성 & 삭제: Ctrl+M + A (셀을 선택된 셀 위에 생성), Ctrl+M + B (셀을 선택된 셀 아래에 생성), Ctrl+M + D (선택된 셀을 삭제)
* Undo: Ctrl+M + Z
* 줄 번호 보기: Ctrl+M + L
* Command Palette 보기: Shift + Control/Command + P
* 단축키 모음 보기: Ctrl + M + H

# 01 파이썬 기초 문법

1. hello python
2. Variables
3. Type & Operator - Number
4. Type & Operator - String
5. Container - List
6. Slicing

## 1. Hello Python

In [0]:
print('Hello, Python World!')

# !주의 
# 2.0 버전에서는 '()' 괄호가 없는 형태로 print문을 처리할 수 있었다. 
# 3.0 버전에서 python 코드를 들고와서 돌렸는데 에러가 날 때에는 print 처리가 어떻게 되어있는지 확인해 봐야한다.
# print "Hello, Python World!!"

Hello, Python World!

In [0]:
print "Hello, Python World!!"

SyntaxError: ignored

## 도움말

In [0]:
# help '?' 이용, or Shift + Tab
?print

In [0]:
# ?print 보다 더 편할 수도 있다.
# print( 까지 입력하고 탭을 누르면 풍선 도움말이 나타난다. 직접 해보자.
print()

## 2. Variables

- 대소문자 구분함.
- 알파벳 + 숫자 및 언더바
- 변수 이름으로 변수에 담긴 값을 소환
- 다중 할당

In [0]:
a = 3
print(a)
type(a)

3

int

In [0]:
a = 'ab'
print(a)
type(a)

ab

str

# 변수 할당

In [0]:
# 변수 할당
midterm = 65
final = 90
quiz = 99

print(quiz)

results = midterm*0.4 + final*0.4 + quiz*0.2
print(results)

99
81.8

In [0]:
# 다중 할당
midterm, final, quiz = 65, 90, 99
results = midterm*0.4 + final*0.4 + quiz*0.2
print(results)

81.8

## 3. Type & Operator - Number

- number: int, float
- 산술 연산자

In [0]:
# 학점 규칙: 중간고사 40%, 기말고사 40%, 퀴즈 20%
print(type(midterm))
print(results)
print(type(results))

<class 'int'>
81.8
<class 'float'>

In [0]:
# int
print(type(midterm))

<class 'int'>

In [0]:
# float
a = 10/3
print(a)
print(type(a))

3.3333333333333335
<class 'float'>

In [0]:
# complex
 comp_01 = complex(3,5)
 comp_02 = 3 + 5j
 
print(comp_01)
print(comp_02)
print(type(comp_01))
print(type(comp_02))

(3+5j)
(3+5j)
<class 'complex'>
<class 'complex'>

### 수리 연산자

+, -, *, /

% 

**

//

+=, -=, *=, /=

위의 연산자 중 모르는 것을 구글 검색하고 예제를 만들어 보자.

In [0]:
10/7

1.4285714285714286

In [0]:
10%7

3

In [0]:
10**7

10000000

In [0]:
10//7

1

In [0]:
a = 10
a+=7
print(a)

17

## 4. Type & Operator - String

- string
- print 활용
- string slicing

In [0]:
print(1, 2, 3)

1 2 3

In [0]:
print('1\t2\t3')

1	2	3

In [0]:
print(1, 2, 3, sep='\t')

1	2	3

In [0]:
print(1, 2, 3, sep='\n')

1
2
3

In [0]:
print(3, end='\t*\t\n\n')
print(5, end='*')

3	*

5*

In [0]:
# 문자열
# 파이썬은 문자열에 대해 상당한 편의성을 지원합니다.

thanks = 'thanks'
name = '실무데이터분석'
tn = thanks + '  ,  ' + name

print(tn)
print(len(thanks))
print(len(name))
print(len(tn))

thanks  ,  실무데이터분석
6
7
18

In [0]:
# multi line string """으로 시작하고 끝나는 구간은 모두 문자 변수
multilines = """
Hello, Python world
- keras
- anything
"""
print(multilines)

Hello, Python world
- keras
- anything

In [0]:
print('여기에 %d를 출력하고 싶다' %(5))

여기에 5를 출력하고 싶다

In [0]:
print('여기에 %s를 출력하고 싶다' %('5입니다'))

여기에 5입니다를 출력하고 싶다

In [0]:
print('%s는 %d %s' %('이 뒤에 오는 숫자는', 5, '입니다.'))

이 뒤에 오는 숫자는는 5 입니다.

In [0]:
print('{0}과 {1} 그리고 {1}과 {0}으로 출력됩니다.'.format('a', '한국'))

a과 한국 그리고 한국과 a으로 출력됩니다.

In [0]:
print('%s는 %d %s' %('이 뒤에 오는 숫자는', results, '입니다.'))

이 뒤에 오는 숫자는는 81 입니다.

In [0]:
# 문자열 출력 활용 1
print('이름 : %s의 결과값은 %d입니다.' %(name, results))

이름 : 실무데이터분석의 결과값은 81입니다.

In [0]:
# 문자열 출력 활용 2
print('{0}은 {1}이고, {0}은 {2}합니다.'.format(name, results, thanks))

실무데이터분석은 81.8이고, 실무데이터분석은 thanks합니다.

## 5. Container - List

- list 
- add & remove

In [0]:
# name, midterm, final, quiz = "Geoffery Hinton", 95, 65, 90
# stu02 - name, midterm, final, quiz = "Yann Lecun", 80, 85, 90
# stu03 - name, midterm, final, quiz = "Yoshua Bengio", 92, 88, 84
# stu04 - name, midterm, final, quiz = "Andrew Ng", 75, 85, 100

# 리스트 생성
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

print(type(stu01))

<class 'list'>

In [0]:
print(stu03)

['Yoshua Bengio', 92, 88, 84]

In [0]:
print(stu03[0])

Yoshua Bengio

In [0]:
# 리스트 요소 조회. 실행 전에 뭐가 나올지 먼저 짐작해보세요.
print(stu01[1])
print(stu01[3])

95
90

In [0]:
# 2차원 리스트
stu = [stu01, stu02, stu03, stu04]
stu = [["Geoffery Hinton", 95, 65, 90], stu02, stu03, stu04]

print(type(stu01))

<class 'list'>

In [0]:
print(stu)
print(stu[0])

[['Geoffery Hinton', 95, 65, 90], ['Yann Lecun', 80, 85, 90], ['Yoshua Bengio', 92, 88, 84], ['Andrew Ng', 75, 85, 100]]
['Geoffery Hinton', 95, 65, 90]

In [0]:
# 2차원 리스트 요소 조회. 실행 전에 뭐가 나올지 먼저 짐작해보세요.

print(stu[0][0])
print(stu[0][2])
print(stu[2][3])

Geoffery Hinton
65
84

#### list 좀 더 자세히

In [0]:
li = [1,2]
print(li)

[1, 2]

In [0]:
print(li[0], li[1], sep='\n')

1
2

In [0]:
li = [1, 2, ['a', 'b']]
print(li)

[1, 2, ['a', 'b']]

In [0]:
print(li[2][0])

a

In [0]:
print(li[2])

['a', 'b']

In [0]:
print(li[2][1])

b

In [0]:
li = [1, 2, ['a', 'b'], [100, 200, 300, 500]]
print(li)

[1, 2, ['a', 'b'], [100, 200, 300, 500]]

In [0]:
print(li[3][2])

300

In [0]:
# stu01 - name, midterm, finals, quiz = "Geoffery Hinton", 95, 65, 90
# stu02 - name, midterm, final, quiz = "Yann Lecun", 80, 85, 90
# stu03 - name, midterm, final, quiz = "Yoshua Bengio", 92, 88, 84
# stu04 - name, midterm, final, quiz = "Andrew Ng", 75, 85, 100

# 리스트 생성
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

print(type(stu01))

<class 'list'>

In [0]:
## 요소 추가하기 
print(stu01)
stu01.append(100)
print(stu01)

['Geoffery Hinton', 95, 65, 90]
['Geoffery Hinton', 95, 65, 90, 100]

In [0]:
## 요소 제거하기 
print(stu01)
del stu01[0]
print(stu01)

['Geoffery Hinton', 95, 65, 90, 100]
[95, 65, 90, 100]

In [0]:
## 요소 변경하기
print(stu01)
stu01[0] = 99
print(stu01)

[95, 65, 90, 100]
[99, 65, 90, 100]

In [0]:
## 리스트 복제
stu05 = stu01
print('stu05: ', stu05)
stu06 = stu01.copy()
print('stu06: ', stu06)

stu05:  [99, 65, 90, 100]
stu06:  [99, 65, 90, 100]

In [0]:
## 리스트 복제 차이
stucp = stu01
print('stu01: ', stu01)
print('stucp: ', stucp)
print('----------')
stu01[1] = 30000
print('stu01: ', stu01)
print('stucp: ', stucp)
print('stu06: ', stu06)

stu01:  [99, 65, 90, 100]
stucp:  [99, 65, 90, 100]
----------
stu01:  [99, 30000, 90, 100]
stucp:  [99, 30000, 90, 100]
stu06:  [99, 65, 90, 100]

### **과제 01. 과제 제출일은 3/22 일요일 자정까지 입니다.**

In [0]:
# 각 리스트의 요소는 name, midterm, quiz, final입니다. 
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

In [0]:
# 위의 4개의 리스트를 담은 리스트 stu 를 생성하세요. 
stu = [stu01, stu02, stu03, stu04]
print(stu)

[['Geoffery Hinton', 95, 65, 90], ['Yann Lecun', 80, 85, 90], ['Yoshua Bengio', 92, 88, 84], ['Andrew Ng', 75, 85, 100]]

In [0]:
# 첫 학생의 이름 중 Last Name만 출력하세요. 
# b=a.split(sep=' ') 
lastname01 = stu[0][0].split(sep=' ')[1]
print(lastname01)

Hinton

In [0]:
# 두번째 학생의 이름 중 Last Name만 출력하세요. 
lastname02 = stu[1][0].split(sep=' ')[1]
print(lastname02)

Lecun

In [0]:
# 세번째 학생의 이름 중 Last Name만 출력하세요. 
lastname03 = stu[2][0].split(sep=' ')[1]
print(lastname03)

Bengio

In [0]:
a="this is sentence"
# a 타입을 출력하시오
print(type(a))

<class 'str'>

In [0]:
# a 에서 "is" 만을 출력하시오
b = a.split(sep=' ')[1]
print(b)

is

In [0]:
# 모든 학생들의 이름 중 Last Name만 출력하세요. 다음을 완성하세요.
lastname01 = stu[0][0].split(sep=' ')[1]
lastname02 = stu[1][0].split(sep=' ')[1]
lastname03 = stu[2][0].split(sep=' ')[1]
lastname04 = stu[3][0].split(sep=' ')[1]
lastname = [lastname01, lastname02, lastname03, lastname04]
print(lastname)

['Hinton', 'Lecun', 'Bengio', 'Ng']

In [0]:
# '이렇게 30을 출력해요'

In [0]:
# stu 리스트 의 점수 합산을 계산하시오. 첫번째점수 *0.4 + 두번째점수*0.4 + 세번째점수 *0.2
sum01 = stu01[1]*0.4 + stu01[2]*0.4 + stu01[3]*0.2
sum02 = stu02[1]*0.4 + stu02[2]*0.4 + stu02[3]*0.2
sum03 = stu03[1]*0.4 + stu03[2]*0.4 + stu03[3]*0.2
sum04 = stu04[1]*0.4 + stu04[2]*0.4 + stu04[3]*0.2
print(sum01, sum02, sum03, sum04)

82.0 84.0 88.8 84.0

In [0]:
# stu 리스트에 위에서 구한 합산 점수를 추가 하세요. 
stu[0].append(sum01)
stu[1].append(sum02)
stu[2].append(sum03)
stu[3].append(sum04)
print(stu)

[['Geoffery Hinton', 95, 65, 90, 82.0, 82.0], ['Yann Lecun', 80, 85, 90, 82.0, 84.0], ['Yoshua Bengio', 92, 88, 84, 82.0, 88.8], ['Andrew Ng', 75, 85, 100, 82.0, 84.0]]

In [0]:
# 다음의 email 작성하시오. 변수를 활용하여 첫 학생의 이름과 합산 점수를 출력하세요. 
email = """
Hello, {0}

{0}의 이번학기 성적은 {1}입니다.

수고하셨습니다. 

"""
print(email.format(stu[0][0], stu[0][4]))

Hello, Geoffery Hinton

Geoffery Hinton의 이번학기 성적은 82.0입니다.

수고하셨습니다.

## 6. Slicing
- slicing list
- slicing string

In [0]:
x=

In [0]:
x =
print(x)
x[0], x[1]

In [0]:
# for는 뒤에 반복문에서 더 자세히 배운다.
for i in x:
    print(i, end= '*')

In [0]:
for i in x:
    print(i+1)

In [0]:
# 뒤에 배열을 보기 좋게하려고 잠시 끼어든 코드. 무시하고 뒤에 공부해도 된다.
list = range(12)
for i in list: 
    print('%3d'% i, end='')

In [0]:
# 리스트 생성
numbers = [95,65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]
list = range(12)
for i in list: 
    print('%3d '% i, end='')
print('')
print(numbers)
print('---------')

In [0]:
numbers[1:3]

In [0]:
# 리스트의 subset 01
print(numbers[0:3])
print(numbers[3:6])
print(numbers[6:9])
print(numbers[9:12])

# 리스트의 subset 02
print(numbers[:3])

# 리스트의 subset 03
print(numbers[9:])

In [0]:
# 문자열 생성
x = ""
    
print('')
print(x)
print('---------')

# 문자열 subset 01
print()
print()

# 문자열 subset 02
print()

# 문자열 subset 03
print()

In [0]:
# 보기 불편하다. 아래와 같은 출력을 하면 자리 수 세기가 더 편하지 않을까? 어떻게 하면 될까?

# 12345678901234567890123456789012345678901234567890123456789012345678901
# hobby project during the week around Christmas as his office was closed

In [0]:
# split

# 02 파이썬 입문 I

1. Type & Operator - Boolean
2. Control (제어문)
3. Function (함수)
4. Method
5. Package

## 1. Type & Operator - Boolean

- boolean
- 비교 연산자

In [0]:
# True/False Boolean

t = True
f = False
print(type(t)) # Prints "<class 'bool'>"

# 논리 연산자
print(t and f) # AND 연산, "False"
print(t or f)  # OR 연산, "True"
print(not t)   # NOT 연산, prints "False"

# 비교 연산자
# ==, !=, >, <, >=, <=

## 2. Control (제어문)

- 조건문: if-else
- 반복문: while
- 반복문: for

In [0]:
# 조건문 - if-else

my_score = 73
 
if my_score >= 90:
    my_grade = 'A'
elif my_score >= 80:
    my_grade = 'B'
elif my_score >= 70:
    my_grade = 'C'
elif my_score >= 60:
    my_grade = 'E'
else:
    my_grade = 'F'

print(my_grade)

In [0]:
# one line 조건문
my_grade_state = 'Pass' if my_score >= 60 else 'Fail'
print(my_grade_state)

In [0]:
# 반복문 - for
for i in [0, 1, 2, 3, 4]:
    print(i)
print('--------------')    
    
for i in range(5):
    print(i)

In [0]:
for i in range(5):
    print('*', end='')

In [0]:
fruits = ['apple', 'banana', 'cherry']

for i in fruits:
    print(i)
print('--------------')

In [0]:
for index in range(len(fruits)):
    print(index, fruits[index])
print('--------------')

In [0]:
enumerate(fruits)

In [0]:
for index, value in enumerate(fruits):
    print(index, value)

In [0]:
# 반복문 - while
fruits = ['apple', 'banana', 'cherry']
i = 0 

while i < len(fruits):
    print(fruits[i])
    i += 1

### **과제 02. 과제 제출일은 3/22 일요일 자정까지 입니다.**

In [0]:
for  i in [1,2,3]:
    print(i)
print(i)

In [0]:
for j in range(4): #0, 1, 2, 3
    for i in range(5): #0, 1,2,3,4 
        print('*', end='')
    print()
    
# *****
# *****
# *****
# *****

In [0]:
for j in range(6):
    for i in range(j): 
        print(j, i)
    print()

In [0]:
# 위의 코드를 변형하여 다음 모양을 출력해보자
# 1. 
# *
# **
# ***
# ****
# *****


# 2. 
# *****
# ****
# ***
# **
# *


print()


## 3. Function (함수)

- 내장 함수: print, round, max, min, sorted
- 모듈의 함수: os, re 등등
- 함수 만들기

### 내장함수

In [0]:
print("I love you")
print("1. He said 'I'll be back'")

# 아래의 문장을 한줄씩 그대로 출력하는 print문을 만들어 보자.
# 1. He said "I'll be back"
# 2. the file's directory is "C:\\x3"

# "" 부호는 어떻게 출력할 수 있는가? 
# '' 부호는 어떻게 출력할 수 있는가?

In [0]:
print("1. He said \"I'll be back\"")

In [0]:
print(round(10.4607, 0))
print(round(10.5129))
print(round(10.5129, 2))
print(round(10.5029, 3))

In [0]:
numbers = [95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]
print(max(numbers))
print(min(numbers))
print(sorted(numbers))

In [0]:
# help
help(print)

In [0]:
# 내장함수 목록 
dir(__builtin__)

### 모듈내의 함수

In [0]:
# os 모듈
import os

print(os.getcwd())
print(os.listdir())

### 함수 생성

In [0]:
def abc(x):
    # pass
    return x % 3

print(abc(10))
print(abc(90))

In [0]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

### **과제 03. 과제 제출일은 3/29 일요일 자정까지 입니다.**

In [0]:
# 1. 두 개의 정수 값을 받아 평균을 구하는 함수를 작성하세요.
def get_average



print(get_average(3, 5))

In [0]:
# 2. 리스트를 입력받아서 최소값과 최대값을 반환하는 함수를 작성하세요.
def get_min(ls):
    # 함수구현
    pass

print(get_min([1, 2, 3, 4, 5]))

In [0]:
def get_max(ls):
    # 함수구현
    pass

print(get_max([1, 2, 3, 4, 5]))

In [0]:
# 3. 시작과 끝 숫자를 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수를 작성하세요. (시작값과 끝값 포함)
def get_sum(start, end):


print(get_sum(1, 9))
print(get_sum(3, 5))

In [0]:
# 4. 각 리스트의 요소는 name, midterm, quiz, final입니다. 
stu = [["Geoffery Hinton", 95, 65, 90],
       ["Yann Lecun", 80, 85, 90],
       ["Yoshua Bengio", 92, 88, 84],
       ["Andrew Ng", 75, 85, 100]]

# 학점 규칙: 중간고사 35%, 기말고사 35%, 퀴즈 30%
# total을 계산하는 함수를 생성하세요. 
def total


total(30, 40, 30)

#### 학점 계산

In [0]:
# 학점 규칙: 중간고사 35%, 기말고사 35%, 퀴즈 30%
# 앞의 stu 리스트중 한 명의 것을 입력 받아, 이름과 성적을 계산하는 total2 함수를 생성하세요.
 
def total2(s):
    r= s[1] * 0.35 + s[2]*.35 + s[3]*.3
    name = s[0]
    return name, r
    
name, score = total2(stu[1])
print(name, score)

In [0]:
# 직전의 함수를 사용하여 stu긔 각 사람별로 이름과 성적을 출력하세요.
print( total2(stu[0]) )
print( total2(stu[1]) )
print( total2(stu[2]) )
print( total2(stu[3]) )

In [0]:
# for문을 이용하여 stu 모든 학생들의 total 결과를 st list에 차례로 담으세요. 
# 앞에서 만든 total2 함수를 사용하세요.
st = []
for i in stu:
    # print(total2(i))
    st.append(total2(i))
    # print(st)

print(st)

In [0]:
# 점수에 해당하는 grade를 반환하는 함수를 만드세요. 
# 90이상 A, 80이상 B, 70 이상 C, 나머지는 F
def grade(s):
    if s>= 90:
        g = 'A'
    elif s>= 80:
        g = 'B'
    elif s>= 70:
        g = 'C'
    else:
        g = 'F'
    return g

print(grade(75))
print(grade(60))
print(grade(91))