<a href="https://colab.research.google.com/github/younghw4n/deeplearning/blob/master/2%EC%A3%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# List vs. Tuple vs. Dictionary
1.   List
2.   Tuple
3.   Dictionary

## 1. List 
: define, slicing, copy

In [0]:
a = [1,"aa",3,4,5]
print( )
print(a[])

In [0]:
a_1 = a
a_2 = a.copy()

In [0]:
a[0]=100
print(a)
print()
print()

## 2. Tuple 
: define, slicing, copy

In [0]:
b = ( 1, 'aa', [3, 4, 5], 6, 7)
print()
print()

In [0]:
t = ('a', 'b', 'c', 'd', 'e')
t_1 = t
# t_2 = t.copy()
type(t)

In [0]:
t[0] = 2

In [0]:
t =

In [0]:
print()
print()

## 3. Dictionary 
:
사전 타입은 인덱스로 개별 항목에 접근하는 배열과 달리 키 값으로 접근할 수 있는 리스트 타입 입니다. 

사전은 {키:값, 키:값...}의 방식으로 선언 합니다.

In [0]:
dict={"k":"kor", 'e':'eng', 9:'jpn'}
print(type(dict))
print(dict)

In [0]:
dict[0]

In [0]:
dict[k]

In [0]:
dict[]

In [0]:
dict[]=

In [0]:
print()

In [0]:
dict[9]

# List vs. Array
python에서 list는 크기가 가변적이고 어떤 원소 타입이던 저장할 수 있다는 장점이 있다.

array 는 동일한 타입의 원소를 저장할 수 있는 대신, 메모리를 훨씬 적게 쓴다.

또한, array로 연산을 하는 경우는 array.array 보다는 NumPy를 쓰는것이 효율적이다.

In [0]:
import array
import resource

startMem = resource.getrusage(resource.RUSAGE_SELF).ru_maxrss

mylist = []
for i in range(1,1000000):
    mylist.append(i)

listMem = resource.getrusage(resource.RUSAGE_SELF).ru_maxrss

myarray = array.array('i')
for i in range(1,1000000):
    myarray.append(i)

arrayMem = resource.getrusage(resource.RUSAGE_SELF).ru_maxrss

print("list를 만드는 데는 :", listMem-startMem)
print("array를 만드는 데는 : ", arrayMem-listMem)

In [0]:
A = [1, 2, 3]
print(type(A))

In [0]:
A = [1 2 3; 2 3 4; 45 6 3]

In [0]:
A = [1, 2, 3; 2, 3, 4; 45, 6, 3]

In [0]:
A = [[1, 2, 2], [2, 3, 4], [45, 6, 3]]
print(A)
type(A)

In [0]:
A = 5*[5*[0]]

arrayName = array(typecode, [Initializers])

In [0]:
from array import *

array1 = array('i', [10,20,30,40,50])
print(array1)

array1.insert(1,60)
print(array1)

array1.remove(40)
print(array1)

type(array1)

In [0]:
print()
print()

In [0]:
from numpy import * 
B = array([[1, 2, 2], [2, 3, 4], [45, 6, 3]])
print(B)
type(B)
print(B+B)

In [0]:
from numpy import * 
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])
print(a) 
print(type(a))
m = reshape(a,(7,5))
print(m)

In [0]:
# Print data for Wednesday
print(m[2])

# Print data for friday evening
print(m[4][3])

In [0]:
#Adding a row
m_r = append(m,[['Avg',12,15,13,11]],0)

print(m_r)

In [0]:
#Adding a column
m_c = insert(m,[5],[[1],[2],[3],[4],[5],[6],[7]],1)

print(m_c)

In [0]:
m_d1 = delete(m,[2],0)

print(m_d1)

In [0]:
m_d2 = delete(m,[3],1)

print(m_d2)

In [0]:
print(m[:,1:]+m[:,1:])

In [0]:
print(m[:,1:])

#Array from NumPy

NumPy provides multidimensional array of numbers. (which is actually an object)

https://docs.scipy.org/doc/numpy-1.15.1/user/quickstart.html

# 새 섹션

In [0]:

a = np.array([])
print(a)            
print()

In [0]:
print()

In [0]:
import 

A = np.array([[1, 2, 3], [3, 4, 5]])
print(A)

A = np.array([[1, 2, 3], [3, 4, 5]]) # Array of floats
print(A)

A = np.array([[1, 2, 3], [3, 4, 5]]) # Array of complex numbers
print(A)

print(type(A))

In [0]:
#Array of zeros and ones
import numpy as np

zeors_array = 
print(zeors_array)

ones_array =  # specifying dtype
print(ones_array)

In [0]:
#Using arange() and shape()
import numpy as np

A = 
print('A =', A)

B = 
print('B =', B)

In [0]:
print(np.arange())
print(np.arange().reshape())

In [0]:
#Addition of Two Matrices
A = np.array([[2, 4], [5, -6]])
B = np.array([[9, -3], [3, 6]])
C =      # element wise addition
print(C)

In [0]:
#Multiplication of Two Matrices
A = np.array([[3, 6, 7], [5, -3, 0]])
B = np.array([[1, 1], [2, 1], [3, -3]])
C = A*B
print(C)

In [0]:
#Transpose of a Matrix
A = np.array([[1, 1], [2, 1], [3, -3]])

In [0]:
#Access matrix elements, rows and columns
import numpy as np
A = np.array([2, 4, 6, 8, 10])

print("A[0] =",)     # First element     
print("A[2] =",)     # Third element 
print("A[-1] =",)   # Last element

In [0]:
A = np.array([[1, 4, 5, 12],
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]])

#  First element of first row
print("A[0][0] =", )  

# Third element of second row
print("A[1][2] =", )

# Last element of last row
print("A[-1][-1] =", )

In [0]:
A[0]
A[2] 
A[-1]

In [0]:
A = np.array([[1, 4, 5, 12], 
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]])

A[:,0] 
A[:,3]
A[:,-1]

In [0]:
#Slicing of a Matrix
import numpy as np
letters = np.array([1, 3, 5, 7, 9, 7, 5])

letters[2:5]       

letters[:-5]       

letters[5:]         

letters[:]          

letters[::-1] # reversing a list

In [0]:
A = np.array([[1, 4, 5, 12, 14], 
    [-5, 8, 9, 0, 17],
    [-6, 7, 11, 19, 21]])

A[:2, :4]
A[:1,] 
A[:,2] 
A[:, 2:5]

#Plot

https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.show.html

In [0]:
import  as 

plot([1, 4, 9, 16])
show()

In [0]:
plot([10, 20, 30, 40], [1, 4, 9, 16])
show()

In [0]:
data = {'apples': 10, 'oranges': 15, 'lemons': 5, 'limes': 20}
names = list(data.keys())
values = list(data.values())

fig, axs = plt.subplots(1, 3, figsize=(9, 3), sharey=True)
axs[0].bar(names, values)
axs[1].scatter(names, values)
axs[2].plot(names, values)
fig.suptitle('Categorical Plotting')
plt.show()

In [0]:
plt.plot([10, 20, 30, 40], [1, 4, 9, 16], 'rs--')
plt.show()

플롯 명령어는 다양한 스타일(style)을 지원한다.

스타일 문자열은 색깔(color), 마커(marker), 선 종류(line style)의 순서로 지정한다. 만약 이 중 일부가 생략되면 디폴트값이 적용된다.

https://matplotlib.org/examples/color/named_colors.html

# 새 섹션

In [0]:

x = range(1, 6) 
y1 = [0.01, 0.019, 0.042, 0.038, 0.062] 
y2 = [0.02, 0.021, 0.03, 0.036, 0.044] 

plt.plot(x, y1, label="Label 1") 

plt.plot(x, y2, label="Label 2") 

plt.xlabel("X Label") 
plt.ylabel("Y Label") 
plt.title('Title') 

plt.legend()
plt.show()

In [0]:
plt.subplot(2,1,1)
plt.plot(x, y1, label="Label 1") 

plt.subplot(2,1,2)
plt.plot(x, y2, label="Label 2") 
plt.show()