<a href="https://colab.research.google.com/github/younghw4n/deeplearning/blob/master/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_2015270047_%EC%A1%B0%EC%98%81%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
for  i in [1,2,3]:
    print(i)
print(i)

1
2
3
3

In [0]:
for j in range(4): #0,1,2,3
    for i in range(5): #0,1,2,3,4 
        print('*', end='')
    print()
    
# *****
# *****
# *****
# *****

*****
*****
*****
*****

In [0]:
for j in range(6):
    for i in range(j): 
        print(j, i)
    print()

1 0

2 0
2 1

3 0
3 1
3 2

4 0
4 1
4 2
4 3

5 0
5 1
5 2
5 3
5 4

In [0]:
# 위의 코드를 변형하여 다음 모양을 출력해보자
# 1. 
# *
# **
# ***
# ****
# *****


# 2. 
# *****
# ****
# ***
# **
# *


print()

In [0]:
for  i in [1,2,3,4,5]:
    for j in range(i):
      print('*',end='')
    print()

*
**
***
****
*****

In [0]:
for  i in [1,2,3,4,5]:
    for j in range(6-i):
      print('*',end='')
    print()

*****
****
***
**
*

In [0]:
# 1. 두 개의 정수 값을 받아 평균을 구하는 함수를 작성하세요.
def get_average(n, m):
  return (n+m) / 2 

print(get_average(3, 5))

4.0

In [0]:
# 2. 리스트를 입력받아서 최소값과 최대값을 반환하는 함수를 작성하세요.
def get_min(ls):
  smallest = ls[0]
  for i in ls:
    if i < smallest:
      smallest = i
  return smallest

print(get_min([1, 2, 3, 4, 5]))

1

In [0]:
def get_max(ls):
  biggest = ls[0]
  for i in ls:
    if i > biggest:
      biggest = i
  return biggest

print(get_max([1, 2, 3, 4, 5]))

5

In [0]:
# 3. 시작과 끝 숫자를 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수를 작성하세요. (시작값과 끝값 포함)
def get_sum(start, end):
  sum1 = 0
  sum2 = 0
  for i in range(1, end+1):
    sum1 += i
  for j in range(1, start):
    sum2 += j
  return sum1-sum2
  
print(get_sum(1, 9))
print(get_sum(3, 5))

45
12

In [0]:
# 4. 각 리스트의 요소는 name, midterm, quiz, final입니다. 
stu = [["Geoffery Hinton", 95, 65, 90],
       ["Yann Lecun", 80, 85, 90],
       ["Yoshua Bengio", 92, 88, 84],
       ["Andrew Ng", 75, 85, 100]]

# 학점 규칙: 중간고사 35%, 기말고사 35%, 퀴즈 30%
# total을 계산하는 함수를 생성하세요. 
def total(s):
    r = s[1]*0.35 + s[2]*0.35 + s[3]*0.3
    return r

for i in stu:
  print(total(i))

83.0
84.75
88.19999999999999
86.0